/* .App-header{
display: flex;
flex-wrap: wrap;
} */

#portada-inicio{
width: 100%;
text-align: center;
background-color: purple;
height: 5rem;
padding-top: 10px;
}

h1{
color:yellow
}

.navbar{
background-color:rgb(36, 35, 35) ;
}

.nav-item{
padding-left: 5rem;
text-decoration: none;
}

.nav-link{
  color: rgb(170, 51, 170);
  font-size: 20px;
  
}

.nav-link:hover{
color: yellow;
}
  
.carrito{
width: 50px;
height: 40px;

}

.carrito:hover{
cursor: pointer;
transform: scale(1.2, 1.2);
}

.imagesCards{
width: 14rem;
height: 14rem;
padding-top: 15px;
padding-left: 60px;
}

.contenedor-cards{
flex-flow: row wrap;
}

.card{
margin: 1rem;
text-align: center;
}

.rutas{
color: white;
text-decoration: none;
}

.rutas:hover{
color: yellow;
}
