/* .App-header{
display: flex;
flex-wrap: wrap;
} */

body{
background-color: #444;
}

#portada-inicio{
width: 100%;
text-align: center;
background-color: purple;
height: 5rem;
padding-top: 10px;
}

h1,h2{
color:yellow
}

.navbar{
background-color:rgb(36, 35, 35) ;
}

.nav-item{
padding-left: 5rem;
text-decoration: none;
}

.active{
  color:yellow !important;
}

.nav-link,#dropdown-basic{
  color: rgb(170, 51, 170);
  font-size: 20px;
  margin-right: 3rem;
  margin-left: 15rem;
  align-self: center;
  margin-right: 10rem;
}

.nav-link:hover{
color: yellow;
}

#dropdown-basic:hover{
color: yellow;
}

#dropdown-basic{
background-color: rgb(36, 35, 35);
border: rgb(36, 35, 35);
margin-top: 10px;
margin-left: 5rem;
}
.dropdown-menu{
  background-color:rgb(36, 35, 35);
  margin-top:15px ;
 
  }

.dropdown-item:hover{
background-color: rgb(202, 202, 15);
}

.carrito{
width: 50px;
height: 40px;
margin-left: 5rem;
}

.carrito:hover{
cursor: pointer;
transform: scale(1.2, 1.2);
}

.imagesCards{
width: 14rem;
height: 14rem;
padding-top: 15px;
padding-left: 60px;
}

.contenedor-cards{
flex-flow: row wrap;
}

.card{
margin: 1rem;
text-align: center;
}

.rutas{
color: white;
text-decoration: none;
}

.rutas:hover{
color: white;
}

.contenedor-detail{
justify-content: center;
}

.detail{
width:550px;
}

.agregar{
margin-bottom: 15px;
background-color: rgb(153, 19, 153);
width: 12rem;
border:rgb(153, 19, 153); ;
}

.contador{
margin: 0px 5px 0px 5px;
text-align: center;
}

.cart-button,.finalizar{
width: 5rem;
margin-bottom: 3px;
background-color: rgb(153, 19, 153);
}

.agregar:hover{background-color: rgb(202, 202, 15);}
.finalizar:hover{background-color: rgb(202, 202, 15);}
.cart-button:hover{background-color: rgb(202, 202, 15);}

.finalizar{
background-color: red;
width: 20rem;
}

.spinner{
margin-top: 5rem;
height: 30rem;
width: 30rem;
}

.spinner-contenedor{
display: flex;
justify-content: center;

}

.cartVacio{
display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;

}

.listCarrito{
width: 60rem;
margin-left: 24rem;
}

.info{
margin-left:23rem;
}

.info-precio{
margin-left: 25rem;
color: red;
}

.checkoutPrice{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 45rem;
height: 4rem;
background-color: rgb(153, 19, 153);
margin-top: 1rem;
margin-left: 8rem;
margin-bottom: 2rem;
border-radius: 500px;
}

.pago{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
color: rgb(202, 202, 15);
font-size: 35px;
}

.irCheckout{
background-color: red;
border: red;
border-radius: 500px;
height: 4rem;
}

.irCheckout:hover{
background-color: red;
border: red;
transform: scale(1.2, 1.2);
}

.check{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 30px;
}

.prods-in-cart{
margin-left: 1rem;
}

.eliminarProducto{
height: 2rem;
width: 3rem;
padding-right: 1rem;
margin-bottom: 10px;
margin-top: 10px;
margin-left: 27rem;
background-color: red;
}

.eliminarIcon{
  height: 2rem;
  width: 3rem;
  padding-right: 1rem;
 
}

.inputContainer{
display: flex;
flex-flow: column wrap;
margin-top: 5rem;
width: 80rem;
height: 60rem;
margin-left: 28rem;
background-color: #ccc;
}

.checkInput{
padding-left: 1rem;
margin-top: 2rem;
margin-bottom: 5px;
height: 3rem;
font-size: 20px;
border-radius: 500px;
text-align: center;
}

.terminar{
border-radius: 500px;
height: 2.5rem;
margin-top: 10px;
background-color:rgb(202, 202, 15);
font-size: 20px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.terminar:hover{
  background-color: red;
  border: red;
}

.item-error{
display: flex;
flex-flow: column wrap;
align-items:center ;
margin-top: 2rem;
padding-top: 1rem;

}

.error-image{
margin-top: 2rem;
width: 25rem;
height: 25rem;

}